*.blg
*.bbl
*blx.bib
*.bcf
*.dvi
*.run.xml
*.pdf
*.gz
*.log
*.aux
*.m~
.DS_Store
Makefile
CMakeCash.txt
cmake_install.cmake
CMakeFiles
newton-dynamics*
.idea
CMakeCache.txt
newton-dynamics
results*
*.exe
bin